body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: linear-gradient(#605e64 0vh, #d6cdee 100vh);
}
main{
	font-family: josefin-sans;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-bottom:0.25rem solid #d6cdee;
}
#title>h1{
	color: #3c344f;
	font-size: 3rem;
	margin: 0.25rem;
}

#content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#content>section{
	width: 100%;
	margin: 1rem;
}

section#social-media>a{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 0.25rem;
	width: 100%;
	height: 3rem;
	font-size: 1rem;
	background-color: #3c344f;
	color: White;
	border-radius: 1.5rem;
	transition: background-color 0.25s;
}
section#social-media>a:hover{
	background-color: #8353e5;
}
section#commission-info>a:not(#terms){
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 0.25rem;
	width: 100%;
	height: 3rem;
	font-size: 1rem;
	background-color: #d6cdee;
	color: Black;
	border-radius: 1.5rem;
	transition: background-color 0.25s;
}
a#terms{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 0.25rem;
	width: 100%;
	height: 2rem;
	font-size: 0.75rem;
	background-color: #605e64;
	color: White;
	border-radius: 1rem;
	transition: background-color 0.25s;
}
section#commission-info>a:not(#terms):hover, section#commission-info>a:hover{
	background-color: #8353e5;
}

a>b{
	margin-right: 0.5rem;
}



section.main{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@font-face {
	font-family: josefin-sans;
	src: url(./../fonts/JOSEFINSANS-VARIABLEFONT_WGHT.TTF);
}